main.dSYM/Contents/Info.plist
.vscode/settings.json
SimpleServer.dSYM/Contents/Resources/DWARF/SimpleServer
SimpleServer.dSYM/Contents/Info.plist
SimpleServer
main.dSYM/Contents/Resources/DWARF/main
SimpleClient/SipmleClient
SimpleClient/SipmleClient.dSYM/Contents/Info.plist
SimpleClient/SipmleClient.dSYM/Contents/Resources/DWARF/SipmleClient
